.chat-bar {
	position: relative;
	width: 100%;
}

.chat-bar textarea {
	resize: none;
	padding-right: 3.5rem;
}

.chat-bar kbd {
	padding: 0.125rem;
}

.chat-bar .send-stop-icon {
	position: absolute;
	right: 1rem;
	top: 1rem;
	padding: 8px;
}
